
 










































































/* 
@media only screen and (max-width:1544px){
    .btn{
        margin-left: 85%;
    }
}

@media only screen and (max-width:1653){
    .same{
        width:50%;
    }
    
}

@media only screen and (max-width:1600px){
    .device-p2{
        width: 30%;
    }
    
}

@media only screen and (max-width:1645px){
    .two-class{
        width: 30%;
    }
}


@media only screen and (max-width:925px){
    .device-img{
        width: 350px;
        height: 303px;
    }

}

@media only screen and (max-width:809px){
    .tv-device{
        width: 50%;
    }

}

@media only screen and (max-width:1282px){
    .tv-device{
        margin-left: 39%;
    }

}

 */
