body {
  overflow-x: hidden;
}

.container-body {
  background-color: black;
  margin-top: -24px;
}

.container {
  margin-top: -31px;
  margin-left: 14%;
  color: white;
  height: 464px;
}

.logo {
  width: 221px;
  height: 49px;
  margin: 48px 269px;
}

.select {
  display: flex;
  margin-left: 74%;
  width: 118px;
  height: 34px;
  margin-top: -85px;
  border: 1px solid gray;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-blend-mode: darken;
  outline: none;
}

option {
  text-align: center;
}

.btn {
  margin-top: -34px;
  margin-left: 81%;
  display: flex;
  border: 2px solid #a90909;
  border-radius: 5px;
  padding: 8px;
  height: 33px;
  width: 75px;
  text-align: center;
  font-size: 16px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #a90909;
}

.tv {
  margin-left: 46%;
  margin-top: -236px;
}

#h1-id {
  font-size: 45px;
  padding-top: 242px;
}

#p-id {
  font-size: 25px;
}

#tv-id {
  height: 294px;
  width: 476px;
}
hr {
  background-color: rgb(136, 132, 132);
  height: 10px;
  margin-top: 163px;
  width: 100%;
  margin-left: -7px;
}

.para {
  margin-top: -61px;
}
#p1 {
  display: block;
  margin-top: 245px;
  margin-left: 28%;
  font-size: 45px;
  color: white;
  font-weight: bold;
}

#p2 {
  display: block;
  margin-top: -30px;
  margin-left: 37%;
  font-size: 31px;
  color: white;
}
#p3 {
  display: block;
  margin-top: -13px;
  margin-left: 31%;
  font-size: 23px;
  color: white;
}

.email {
  font-size: 17px;
  margin-left: 33%;
  width: 360px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid gray;
  padding-left: 14px;
  background: none;
  color: gray;
  outline: none;
}

#gt-btn {
  height: 53px;
  width: 196px;
  background-color: red;
  border-radius: 7px;
  font-size: 21px;
  color: white;
}
.container-body {
  background-color: black;
  margin-top: -24px;
}

.container {
  margin-top: -31px;
  margin-left: 14%;
  color: white;
  height: 464px;
}

.logo {
  width: 221px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

#gt-btn:hover {
  background-color: #a90909;
}

.mobile {
  width: 425px;
  height: 421px;
  border-radius: 19px;
  margin-left: 18%;
  margin-top: 74px;
}

.mobile-class {
  margin-left: 53%;
  margin-top: -224px;
}

#mobile-p1 {
  font-size: 45px;
  color: white;
  margin-left: -5%;
  margin-top: 32px;
}

#mobile-p2 {
  font-size: 25px;
  margin-top: -29px;
  color: white;
  margin-left: -5%;
}

.tv-device {
  height: 255px;
}

.device-img {
  margin-left: 56%;
  margin-top: -242px;
  width: 29%;
}

#device-p1 {
  color: white;
  margin-left: 18%;
  margin-top: 225px;
  font-size: 45px;
}

#device-p2 {
  margin-left: 18%;
  margin-top: -24px;
  font-size: 25px;
  color: white;
}

#kids-img {
  height: 363px;
  width: 425px;
  border-radius: 22px;
  margin-left: 15%;
  margin-top: 109px;
}

#kids-p1 {
  margin-left: 50%;
  margin-top: -247px;
  font-size: 45px;
  color: white;
}

#kids-p2 {
  margin-left: 50%;
  margin-top: -30px;
  font-size: 25px;
  color: white;
}

.kids {
  height: 500px;
}

.ask-container {
  height: 700px;
}

#ask-p1 {
  margin-left: 34%;
  font-size: 45px;
}

.same {
  font-size: 20px;
  color: white;
  border: 2px solid #3c3a3a;
  background-color: #262525;
  border-radius: 5px;
  height: -56px;
  width: 79%;
  margin-left: 170px;
  margin-top: -12px;
  padding: 31px;
  cursor: pointer;
}

#p {
  margin-top: 50px;
}

#p-q {
  display: inline;
  margin-left: 10%;
  /* color: white; */
  color: white;
}

.links {
  margin-left: 10%;
  margin-top: 21px;
}

footer {
  height: 450px;
  background-color: black;
}

.container-footer {
  margin-top: 60px;
}

#a-p1 {
  padding-left: 0%;
}
#a-p2 {
  padding-left: 17%;
}
#a-p3 {
  padding-left: 17%;
}
#a-p4 {
  padding-left: 17%;
}

#a-p5 {
  padding-left: 0%;
}

#a-p6 {
  padding-left: 12%;
}

#a-p7 {
  padding-left: 20%;
}

#a-p8 {
  padding-left: 14.6%;
}

#a-p9 {
  padding-left: 0%;
}

#a-p10 {
  padding-left: 15.6%;
}

#a-p11 {
  padding-left: 14.2%;
}

#a-p12 {
  padding-left: 12%;
}

#a-p13 {
  padding-left: 0%;
}

#a-p14 {
  padding-left: 14.5%;
}

#a-p15 {
  padding-left: 15.7%;
}

.button {
  color: black;
  margin-left: -246%;
  margin-top: 124px;
  cursor: pointer;
}

.a-color {
  color: #808080;
}
#number {
  color: #808080;
}

a:active {
  color: red;
}

#text-india {
  color: #808080;
  margin-left: 10%;
}

.background {
  background: rgba(0, 0, 0, 0.5) url("bg2.jpg") no-repeat center;
  background-blend-mode: darken;
  height: 710px;
}

#hr {
  margin-top: -1px;
}
